/* #region Common Rules */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Montserrat', sans-serif;
      overflow: hidden;
}

.wrapper {
      height: 100vh;
}
/* #endregion Common Rules */

/* #region Debug */

.debug .player_container {
      background-color: green;
}

.debug .left_menu {
      background-color: blue;
}

.debug .album_container {
      background-color: red;
}


.debug .left_menu .menu_top {
      background-color: yellow;
}

.debug .left_menu .menu_bottom {
      background-color: azure;
}

.debug .upgrade_bar {
      background-color: violet;
}

/* #endregion Debug */

/* #region Utilities */

:root {
      --sp_darkness: #000000;
      --sp_dark: #080B12;
      --sp_darker: #141922;
      --sp_dark_light: #282828;
      --sp_extinct: #5A5A5A;
      --sp_evidence: #ADFF2F;
      --sp_lighter: #C1C1C1;
      --sp_active: #D2D2D2;
      --sp_light: #FFFFFF;
      
}

.row {
      display: flex;
      flex-wrap: wrap;
}

.d_flex {
      display: flex;
}

.col_1 {
      width: calc(100% / 12 * 1);
}

.col_2 {
      width: calc(100% / 12 * 2);
}

.col_3 {
      width: calc(100% / 12 * 3);
}

.col_4 {
      width: calc(100% / 12 * 4);
}

.col_6 {
      width: calc(100% / 12 * 6);
}
.col_8 {
      width: calc(100% / 12 * 8);
}
.col_10 {
      width: calc(100% / 12 * 10);
}

img {
      width: 100%;
}

li {
      list-style: none;
}

.fs_10 {
      font-size: 10px;
}

.fs_12 {
      font-size: 12px;
}
.fs_13 {
      font-size: 13px;
}

.fs_16 {
      font-size: 14px;
}

.fs_20 {
      font-size: 20px;
}

.fs_24 {
      font-size: 24px;
}
.fs_32 {
      font-size: 32px;
}

.bold {
      font-weight: bold;
}

.wht {
      color: var(--sp_light);
}

.ext {
      color: var(--sp_extinct);
}

.act {
      color: var(--sp_active);
}

.d_none {
      display: none;
}
/* #endregion Utilities */

.content_container {
      height: calc(100vh - 80px);
      overflow: hidden;
      display: flex;
}

.top_container {
      width: 100%;
      background-color: var(--sp_darker);
}

/* #region Upgrade Bar */
.upgrade_bar {
      height: 100px;
      width: 100%;
      background-color: var(--sp_dark);
      display: flex;
      justify-content: end;
      align-items: center;
}

.btn_upgrade {
      width: 300px;
      height: 50%;
      padding: 1rem 2rem;
      margin-right: 2rem;
      border: 1px solid var(--sp_active);
      border-radius: 2rem;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
}

.btn {
      border: none;
      transition: all 0.3s ease;
      overflow: hidden;
}

.btn:after {
      position: absolute;
      content: " ";
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1fd1f9;
      background-image: linear-gradient(315deg, var(--sp_extinct) 0%, var(--sp_evidence) 74%);
      transition: all 0.5s ease;
}
.btn:hover {
      background: transparent;
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
      -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      color: var(--sp_light);
}

.btn:active {
      box-shadow: 0px 0px 36px 5px rgba(255,255,255,0.8);
      color: red;
      font-weight: bold;
      
}

.btn:hover:after {
      -webkit-transform: scale(2) rotate(180deg);
      transform: scale(2) rotate(180deg);
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
      -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

/* #endregion Upgrade Bar */

/* #region menu */
.album_container {
      overflow-y: auto;
      height: calc(100% - 100px);
      margin-bottom: 2rem;
}

.album_menu {
      width: 100%;
}

.album_menu .row {
      justify-content: center;
      margin: auto;
      width: 100%;
      align-items: center;
}

.list_album_menu {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
}

.list_album_menu > li {
      text-transform: uppercase;
      color: var(--sp_extinct);
      font-weight: bold;
      font-size: 14px;
      padding: 0.5rem;
}

.bord_evid {
      position: relative;
}

.bord_evid::after {
      content: "";
      background: var(--sp_evidence);
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 50px;
} 

.main_menu .bord_evid::after {
      top: 15px;
      left: -50%;
      height: 25px;
      width: 1px;
}


/* #endregion menu */

/* #region container album content */

.container {
      padding: 1rem 0;
}

.container h2,
.container > p {
      padding: 0.5rem 1rem;
}

.container img {
      padding: 1rem;
}

.title,
.subtitle {
      text-align: center;
      padding: 0.25rem 0;
      font-weight: bold;
}

.album {
      width: calc(100% / 6);
}

.favorite img {
      border-radius: 50%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
}

.cover_overlay {
      background-color: var(--sp_darker);
      color: #fff;
      position: relative;
}

.cover_overlay figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: center;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      background: rgba(0, 0, 0, 0.7);
      margin: 1rem;
      aspect-ratio: 1/1;
}

.favorite .cover_overlay figcaption {
      border-radius: 50%;
}
figcaption > i {
      font-size: 60px;
}
.cover_overlay > img:hover {
      opacity: 0.2;     
}

.cover_overlay:hover figcaption {
      opacity: 1;
      cursor: pointer;
}
/* #endregion container album content */

/* #region left menu */


.left_menu {
      overflow: hidden;
      height: 100%;
      width: 240px;
      padding: 0 1rem;
      background-color: var(--sp_darkness);
}

.left_menu .row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
}

.left_menu .menu_top {
      height: calc(100% / 12 * 10);
      width: 100%;
      display: flex;
      flex-direction: column;
}

.left_menu .menu_bottom {
      height: calc(100% / 12 * 2);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
      background-color: var(--sp_darkness);
}

.logo_small {
      display: none;
}

.logo_name {
      width: 70%;
      padding: 1rem 0;
}

.logo_name path {
      animation-name: logo;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      fill: var(--sp_evidence);
}

@keyframes logo {
      0% {
            fill: rgb(157, 255, 0);
      }
      20% {
            fill: rgb(81, 255, 0);
      }
      40% {
            fill: rgb(0, 255, 85);
      }
      60% {
            fill: rgb(0, 255, 191);
      }
      80% {
            fill: rgb(0, 217, 255); 
      }
      100% {
            fill: rgb(0, 81, 255); 
      }
}

.icon_menu > img {
      width: 70%;
      padding: 0.25rem 0;
}

.icon_menu,
.menu_list ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}

.playlist > h4 {
      padding: 1rem 0;
      text-transform: uppercase;
}

.playlist .create {
      align-items: center;
      padding-bottom: 1rem;
}

.playlist .create i {
      font-size: 30px;
      padding-right: 0.5rem;
}

.create_square {
      background-color: var(--sp_extinct);
      justify-content: center;
      align-items: center;
      font-size: 20px;
      width: 40px;
      height: 40px;
      color: var(--sp_darkness);
      margin-right: 0.5rem;
}

.playlist li {
      padding: 0.5rem 0;
}

/* #region bottom menu */

.install_app i {
      padding-right: 0.5rem;
}

.install_app {
      border-bottom: 1px solid var(--sp_extinct);
      padding-bottom: 1rem;
      
}

.account.d_flex {
      align-items: center;
      margin: 0.5rem 0;
}

.account path {
      fill: var(--sp_light);
}

.avatar {
      width: 25px;
      height: 25px;
      border: 1px solid var(--sp_extinct);
      padding: 0.25rem;
      border-radius: 50%;
      background-color: var(--sp_extinct);
      margin-right: 0.5rem;
}
/* #endregion bottom menu */
/* #endregion left menu */

/* #region player container */


.player_container {
      display: flex;
      overflow: hidden;
      height: 80px;
      width: 100%;
      background-color: var(--sp_dark_light);
}

.player_container > .row {
      justify-content: space-between;
      flex-wrap: nowrap;
      padding: 0 1rem;
}

.player_container > .row,
.bottom_player .row,
.central_player .bottom_player .row .player {
      width: 100%;
}

.left_player .cover img {
      width: 50px;
}

.left_player .author {
      padding: 0 1rem;
}
.left_player.d_flex {
      align-items: center;
}

.left_player .title,
.left_player .subtitle {
      text-align: left;
      padding: 0;
}

.central_player .top_player.d_flex {
      justify-content: center;
      padding-bottom: 0.5rem;
}

.top_player > div {
      align-items: center;
}

.central_player .top_player i {
      padding: 0 1rem;
}

.central_player {
      display: flex;
      flex-direction: column;
      justify-content: center;
}
.central_player .bottom_player .row .player {
      justify-content: center;
      align-items: center;
}

.central_player .bottom_player .bar,
.right_player .bar {
      width: 50%;
      height: 4px;
      margin: 0 1rem;
      border-radius: 1rem;
      background-color: var(--sp_extinct);
}

.right_player.d_flex {
      align-items: center;
      justify-content: end;
}
.bar .bar_active {
      width:0%;
      height: 100%;
      border-radius: 1rem;
      background-color: var(--sp_evidence);
}

.central_player .bar .bar_active {
      animation-name: progress;
      animation-timing-function: linear;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}

.right_player .bar .bar_active {
      animation-name: progress;
      animation-timing-function: linear;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}

@keyframes progress {
      0% {
            width: 0%;
            background-color: red;
      }
      20% {
            width: 20%;
            background-color: rgb(255, 102, 0);
      }
      40% {
            width: 40%;
            background-color: rgb(255, 166, 0);

      }
      60% {
            width: 60%;
            background-color: rgb(251, 255, 0);

      }
      80% {
            width: 80%;
            background-color: rgb(200, 255, 0);
            
      }
      100% {
            width: 100%;
            background-color: green;

      }
}
.bar {
      cursor: pointer;
}

.bar_active {
      justify-content: end;
      align-items: center;
}

.circle_active {
      padding: 0.5rem;
      width: 0.5rem;
      background-color: var(--sp_light);
      border-radius: 50%;
}


.right_player .row {
      width: 100%;
      justify-content: end;
      align-items: center;
}

.icon_action i,
.right_player i {
      padding: 0 0.1rem;
}
/* #endregion player container */

/* #region hover */

.menu_list li:hover,
.playlist li:hover,
.playlist .create:hover p,
.install_app p:hover,
.list_album_menu > li:hover,
.left_player .icon_action i:hover,
.top_player i:hover {
      color: var(--sp_light);
      cursor: pointer;
}

.playlist .create:hover .create_square {
      cursor: pointer;
      background-color: var(--sp_light);
}

.left_player .subtitle:hover {
      color: var(--sp_light);
      text-decoration: underline;
      cursor: pointer;
}

/* .bar:hover .circle_active {
      display: block;
}
.bar:hover .bar_active {
      background-color: var(--sp_evidence);
} */

.btn:hover {
      scale: 1.1;
      cursor: pointer;
}
/* #endregion hover */

/* #region mediaquery */

@media screen and (max-width:1200px) {
      .player_container .col_md_4 {
            width: calc(100% / 12 * 4);
      }
}

@media screen and (max-width:878px) {
      .album {
            width: calc(100% / 4);
      }   
      
      .left_player.d_flex {
            justify-content: space-between;
      }
}

@media screen and (max-width:639px) {
      .album {
            width: calc(100% / 2);
      }
      
      .player_container .col_s_4 {
            width: calc(100% / 12 * 4);
      }
      
      .icon_action .action {
            display: flex;
            flex-direction: column;
      }
      .right_player .bar {
            width: 40%;
      }
}

@media screen and (max-width:552px) {
      
      .logo_name,
      .menu_list,
      .playlist,
      .left_player .icon_action {
            display: none;
      }
      
      .menu_bottom > .install_app > p,
      .menu_bottom > .account > p {
            display: none;
      }
      
      
      .menu_bottom .account {
            justify-content: center;
            aspect-ratio: 1/1;
            padding: 0.5rem 0;
      }
      
      .menu_bottom .avatar {
            margin: 0;
      }
      
      .install_app i {
            padding-right: 0rem;
      }
      
      .install_app {
            border-bottom: none;
            justify-content: center;
      }
      .logo_small {
            display: block;
            padding: 0.5rem;
      }
      
      .left_menu {
            width: 50px;
            padding: 0.25rem;
      }
      
      .left_player.d_flex {
            justify-content: start;
      }
      .left_player .col_md_4 {
            width: calc(100% / 12 * 4);
      }
      
      .icon_menu.bord_evid::after {
            background-color: transparent;
      }
      
      .icon_menu {
            width: 100%;
            align-items: center;
      }
      
      .right_player .bar {
            width: 30%;
      }
      
}

@media screen and (max-width:500px) {
      
      .left_player .author,
      .right_player .fa-list-ul,
      .right_player .fa-display {
            display: none;
      }
}

@media screen and (max-width:410px) {
      
      .right_player .fa-volume-high {
            display: none;
      }
      
      .col_xxs_2 {
            width: calc(100% / 12 * 2);
      }
      
      .col_xxs_8 {
            width: calc(100% / 12 * 8);
      }
}

/* #endregion mediaquery */